ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}

.image {
    max-width: 100%;
    display: block;
    height: auto;
}

body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(229, 23%, 23%);
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        top: -500px;
        left: -150px;
        height: 800px;
        width: 800px;
        background: url("../../images/bg-pattern-top.svg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: -500px;
        right: -150px;
        height: 800px;
        width: 800px;
        background: url("../../images/bg-pattern-bottom.svg");
        background-size: cover;
        background-repeat: no-repeat;
    }
}